div.h5 {
    font-size: 3.25rem;
}

div.card {
    border: none;
    border-radius: 1.25em;
}

div.main-card {
    margin: 0 auto;
    min-height: 40vh;
    border-radius: 1.25em;
}

div.card-title {
    padding-top: 10%;
}

div.card-header {
    background-color: #fff;
    padding: 0.75rem 0;
}
div.icon {
    float: right;
}

div.card-header:hover {
    color: hsl(14, 88%, 65%);
}
div.card-body {
    background-color: #fff;
    padding: 0.75rem 0;
}
div.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    outline: 1px dashed blue; /* TEST Outline. To Be DELETED */

    overflow: inherit;
}
img.woman-svg {
    position: absolute;
    top: 72px;
    right: 0;
    bottom: 0;
    left: -82px;
    -webkit-clip-path: inset(0% 0% 0% 17.1% round 0 0 0 0);
    clip-path: inset(0% 0% 0% 17.2% round 0 0 0 0);
    display: inline-block;

    outline: 1px dashed blue; /* TEST Outline. To Be DELETED */
}
img.pattern-svg {
    position: absolute;
    top: -293px;
    right: 29%;
    bottom: 0;
    -webkit-clip-path: inset(0% 0% 0% 17.1% round 0 0 0 0);
    clip-path: inset(30% 0% 12% 60.2% round 0 0 0 0);
    // outline: 1px dashed blue; /* TEST Outline. To Be DELETED */
}
img.box-svg {
    position: absolute;
    top: 208px;
    right: 0;
    bottom: 0;
    left: -94px;
    -webkit-clip-path: inset(0% 0% 0% 17.1% round 0 0 0 0);
    clip-path: inset(0% 0% 0% 0% round 0 0 0 0);
    // outline: 1px dashed blue; /* TEST Outline. To Be DELETED */
}

img.m-woman-svg {
    display: none;
    visibility: hidden;
    // outline: 1px dashed blue; /* TEST Outline. To Be DELETED */
}
img.m-pattern-svg {
    display: none;
    visibility: hidden;
    // outline: 1px dashed blue; /* TEST Outline. To Be DELETED */
}

svg.m-woman-svg {
    visibility: hidden;
}
svg.m-pattern-svg {
    visibility: hidden;
}

@media (min-width: 992px) and (max-width: 1198px) {
    div.main-card {
        min-height: 38vh;
    }

    div.svg-container {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        vertical-align: middle;
        // outline: 1px dashed blue; /* TEST Outline. To Be DELETED */
        overflow: inherit;
    }
    img.woman-svg {
        position: absolute;
        top: 72px;
        right: 0;
        bottom: 0;
        left: -77px;
        -webkit-clip-path: inset(0% 0% 0% 17.1% round 0 0 0 0);
        clip-path: inset(0% 0% 0% 17.2% round 0 0 0 0);
        display: inline-block;
        // outline: 1px dashed blue; /* TEST Outline. To Be DELETED */
    }
    img.pattern-svg {
        position: absolute;
        top: -290px;
        right: 17%;
        bottom: 0;
        -webkit-clip-path: inset(0% 0% 0% 17.1% round 0 0 0 0);
        clip-path: inset(30% 0% 17% 61.2% round 0 0 0 3%);
        // outline: 1px dashed blue; /* TEST Outline. To Be DELETED */
    }
    img.box-svg {
        position: absolute;
        top: 208px;
        right: 0;
        bottom: 0;
        left: -94px;
        -webkit-clip-path: inset(0% 0% 0% 17.1% round 0 0 0 0);
        clip-path: inset(0% 0% 0% 0% round 0 0 0 0);
        // outline: 1px dashed blue; /* TEST Outline. To Be DELETED */
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    div.main-card {
        min-height: 38vh;
    }
    div.svg-container {
        display: inline-block;
        position: relative;
        width: 129%;
        padding-bottom: 100%;
        vertical-align: middle;
        // outline: 1px dashed blue; /* TEST Outline. To Be DELETED */
        overflow: inherit;
    }
    img.woman-svg {
        position: absolute;
        top: 72px;
        right: 0;
        bottom: 0;
        left: -77px;
        -webkit-clip-path: inset(0% 0% 0% 17.1% round 0 0 0 0);
        clip-path: inset(0% 0% 0% 18% round 0 0 0 0);
        display: inline-block;
        // outline: 1px dashed blue; /* TEST Outline. To Be DELETED */
    }
    img.pattern-svg {
        position: absolute;
        top: -290px;
        right: 17%;
        bottom: 0;
        -webkit-clip-path: inset(0% 0% 0% 17.1% round 0 0 0 0);
        clip-path: inset(30% 0% 17% 63.2% round 0 0 0 3%);
        // outline: 1px dashed blue; /* TEST Outline. To Be DELETED */
    }
    img.box-svg {
        position: absolute;
        top: 185px;
        right: 0;
        bottom: 0;
        left: -102px;
        -webkit-clip-path: inset(0% 0% 0% 17.1% round 0 0 0 0);
        clip-path: inset(0% 0% 0% 0% round 0 0 0 0);
        // outline: 1px dashed blue; /* TEST Outline. To Be DELETED */
    }
}
// Small devices (landscape phones, 576px and up) or 992
@media (max-width: 767px) {
    div.h5 {
        font-size: 3.25rem;
        text-align: center;
    }

    div.main-card {
        margin: 0 auto;

        width: 85%;
        border-radius: 1.25em;
    }
    div.card-header {
        background-color: #fff;
        padding: 0.75rem 0;
    }
    div.card-body {
        background-color: #fff;
        opacity: 50%;
        padding: 0.75rem 0;
    }
    img.box-svg {
        visibility: hidden;
    }
    img.woman-svg {
        visibility: hidden;
    }
    img.pattern-svg {
        visibility: hidden;
    }
    div.svg-container {
        visibility: hidden;
        padding-bottom: 0;
    }

    img.m-woman-svg {
        margin: 0 auto;
        display: inherit;
        position: absolute;
        left: 0%;
        bottom: 16%;
        visibility: visible;
        // outline: 1px dashed blue; /* TEST Outline. To Be DELETED */
    }
    img.m-pattern-svg {
        display: inherit;
        position: relative;
        left: 9%;
        visibility: visible;
        // outline: 1px dashed blue; /* TEST Outline. To Be DELETED */
    }
}
