div.h5 {
    font-size: 3.25rem;
}

div.card {
    border: none;
    // border-radius: 1.25em;
}

div.main-card {
    margin: 0 auto;
    border-radius: 1.25em;
}

div.card-title {
    padding-top: 10%;
}

div.card-header {
    background-color: #fff;
    padding: 0.75rem 0;
    border-bottom: 2px solid #e7e7e9;
}
div.icon {
    float: right;
}

div.card-header:hover {
    color: hsl(14, 88%, 65%);
}
div.card-body {
    background-color: #fff;
    padding: 0.75rem 0;
    border-bottom: 1px solid #e7e7e9;
}
div.svg-container {
    display: inline-block;
    position: relative;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-position: -574px -288px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
img.woman-svg {
    position: absolute;
    top: 72px;
    right: 0;
    bottom: 0;
    left: -82px;
    -webkit-clip-path: inset(0% 0% 0% 17.1% round 0 0 0 0);
    clip-path: inset(0% 0% 0% 17.2% round 0 0 0 0);
}

img.box-svg {
    position: absolute;
    top: 208px;
    right: 0;
    bottom: 0;
    left: -94px;
    -webkit-clip-path: inset(0% 0% 0% 17.1% round 0 0 0 0);
    clip-path: inset(0% 0% 0% 0% round 0 0 0 0);
    display: block;
    overflow: visible;
}

img.m-woman-svg {
    display: none;
    visibility: hidden;
}
img.m-pattern-svg {
    display: none;
    visibility: hidden;
}

svg.m-woman-svg {
    visibility: hidden;
}
svg.m-pattern-svg {
    visibility: hidden;
}

@media (min-width: 992px) and (max-width: 1198px) {
    div.svg-container {
        display: inline-block;
        position: relative;
        background-image: url(../images/bg-pattern-desktop.svg);
        background-position: -591px -288px;
        background-repeat: no-repeat;
        width: 456px;
        height: 100%;
    }
    img.woman-svg {
        position: absolute;
        top: 72px;
        right: 0;
        bottom: 0;
        left: -79px;
        -webkit-clip-path: inset(0% 0% 0% 17.1% round 0 0 0 0);
        clip-path: inset(0% 0% 0% 17.2% round 0 0 0 0);
        display: inline-block;
    }

    img.box-svg {
        position: absolute;
        top: 198px;
        right: 0;
        bottom: 0;
        left: -94px;
        -webkit-clip-path: inset(0% 0% 0% 17.1% round 0 0 0 0);
        clip-path: inset(0% 0% 0% 0% round 0 0 0 0);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    div.card-header {
        background-color: #fff;
        padding: 0.75rem 0;
    }

    div.svg-container {
        display: inline-block;
        position: relative;
        background-image: url(../images/bg-pattern-desktop.svg);
        background-position: -40em -18em;
        background-repeat: no-repeat;
        width: 25em;
        height: 100%;
    }

    img.woman-svg {
        position: absolute;
        top: 72px;
        right: 0;
        bottom: 0;
        left: -74px;
        -webkit-clip-path: inset(0% 0% 0% 17.1% round 0 0 0 0);
        clip-path: inset(0% 0% 0% 18% round 0 0 0 0);
        // display: inline-block;
    }
    img.pattern-svg {
        position: absolute;
        top: -290px;
        right: 17%;
        bottom: 0;
        -webkit-clip-path: inset(0% 0% 0% 17.1% round 0 0 0 0);
        clip-path: inset(30% 0% 0% 63.2% round 0 0 0 3%);

        visibility: hidden;
    }
    img.box-svg {
        position: absolute;
        width: 8.75rem;
        top: 191px;
        right: 0;
        bottom: 0;
        left: -75px;
        -webkit-clip-path: inset(0% 0% 0% 17.1% round 0 0 0 0);
        clip-path: inset(0% 0% 0% 0% round 0 0 0 0);
        display: block;
        overflow: visible;
    }
}

@media (max-width: 767px) {
    div.h5 {
        font-size: 3.25rem;
        text-align: center;
    }

    div.main-card {
        margin: 0 auto;
        // width: 85%;
        border-radius: 1.25em;
        min-height: 23.25vh;
        display: auto;
        overflow: visible;
    }
    div.card-header {
        background-color: #fff;
        padding: 0.75rem 0;
    }
    div.card-body {
        background-color: #fff;
        opacity: 50%;
        padding: 0.75rem 0;
    }
    img.box-svg {
        visibility: hidden;
    }
    img.woman-svg {
        visibility: hidden;
    }
    img.pattern-svg {
        visibility: hidden;
    }
    div.svg-container {
        visibility: hidden;
        padding-bottom: 0;
    }

    img.m-woman-svg {
        margin: 0 auto;
        display: inherit;
        position: absolute;
        left: 0%;
        bottom: 16%;
        visibility: visible;
    }
    img.m-pattern-svg {
        display: inherit;
        position: relative;
        left: 9%;
        visibility: visible;
    }
}

@media (max-width: 575px) {
    div.h5 {
        font-size: 3.25rem;
        text-align: center;
    }

    div.main-card {
        margin: 0 auto;
        width: 85%;
        border-radius: 1.25em;
        min-height: 30vh;
        display: auto;
        overflow: visible;
    }
    div.card-header {
        background-color: #fff;
        padding: 0.75rem 0;
    }
    div.card-body {
        background-color: #fff;
        opacity: 50%;
        padding: 0.75rem 0;
    }
    img.box-svg {
        visibility: hidden;
    }
    img.woman-svg {
        visibility: hidden;
    }
    img.pattern-svg {
        visibility: hidden;
    }
    div.svg-container {
        visibility: hidden;
        padding-bottom: 0;
    }

    img.m-woman-svg {
        margin: 0 auto;
        display: inherit;
        position: absolute;
        left: 0%;
        bottom: 16%;
        visibility: visible;
    }
    img.m-pattern-svg {
        display: inherit;
        position: relative;
        left: 9%;
        visibility: visible;
    }
}
